fastapi
uvicorn[standard]
loguru
redis
rq
requests
sqlalchemy
psycopg2-binary
passlib[argon2]
python-jose[cryptography]
python-multipart
pydantic
pydantic-settings
email-validator
google-auth
sib-api-v3-sdk
jinja2
